<p>err-page works!</p>

<h3>auth</h3>
<ul>
  <li>
    <a routerLink="/auth/login">Ir login</a>
  </li>
  <li>
    <a routerLink="/auth/registro">Ir registro</a>
  </li>
</ul>

<h3>heroes</h3>
<ul>
  <li>
    <a routerLink="/heroes/listado">Ir heroes listado</a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">Ir heroes agregar</a>
  </li>
  <li>
    <a routerLink="/heroes/editar/:id">Ir heroes editar</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">Ir heroes buscar</a>
  </li>
  <li>
    <a routerLink="/heroes/:id">Ir heroes id</a>
  </li>
</ul>
